

html, body {

    width: 100%;
    justify-content: center;
    margin: 0 ;
    font-family: 'Montserrat', sans-serif;
    background-color:#f4f4f4;
  }

  img {
    height: 350px;
    
  }

#containerPrincipal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}

.col-md-4{
    min-width: 520px;
    padding-bottom: 30px;
    
}

/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    
    
} */
 
.card-body{
    
    height: 150px;
    max-height: 150px;
    background-color: #ffffff;
    
    
}

header{
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    background: rgb(5,44,112);
    background: linear-gradient(90deg, rgba(5,44,112,1) 21%, rgba(63,147,217,1) 33%, rgba(146,206,230,1) 59%, rgba(252,254,255,1) 84%);
}

footer{

    background: rgb(5,44,112);
    background: linear-gradient(90deg, rgba(5,44,112,1) 21%, rgba(63,147,217,1) 33%, rgba(146,206,230,1) 59%, rgba(252,254,255,1) 84%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
    height: 70px;

}


@media (max-width:1100px) {
    .container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    
        }