

html, body {

    width: 100%;
    justify-content: center;
    margin: 0 ;
    font-family: 'Montserrat', sans-serif;
    background-color:#f4f4f4;
  }

  .card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.card-largura{
    max-width: 18rem;
   }


.card-body{
    background-color: #ffffff;
    min-height: 150px;
    max-height: 150px;
}



header{
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    background: rgb(5,44,112);
    background: linear-gradient(90deg, rgba(5,44,112,1) 21%, rgba(63,147,217,1) 33%, rgba(146,206,230,1) 59%, rgba(252,254,255,1) 84%);
}

footer{

    font-family: 'Montserrat', sans-serif;
}

a{
    color:#212529;
}
